{% extends "accounting/base.html" %}

{% block content %}
<h2>部門別支出</h2>
<p>ここでは、各部門ごとの支出を確認できます。部門ごとの支出合計や詳細情報を一覧で表示します。</p>

<a href="{% url 'export_department_expenses_pdf' %}" class="btn btn-primary">PDFとしてエクスポート</a>

{% for department, data in department_data.items %}
    <div class="department">
        <h3>{{ department }} - 合計: {{ data.total}}円</h3>
        <ul>
            {% for expense in data.details %}
                <li>{{ expense.name }}: {{ expense.amount }}円（{{ expense.date }} ）</li>
                    {% if expense.department == '渉外' %}
                        使った施設: {{ expense.institution }} <!-- 施設表示 -->
                    {% else %}
                        使った内容: {{ expense.content }} <!-- 内容表示 -->
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock %}
