{% extends "accounting/base.html" %}

{% block content %}
<h2>公演費一覧</h2>

{% for age, expenses in grouped_performance_expenses %}
    <h3>{{ age }} 代</h3>
    <table>
        <tr>
            <th>名前</th>
            <th>金額</th>
            <th>日付</th>
        </tr>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}円</td>
                <td>{{ expense.date|date:"Y年m月d日" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endfor %}

{% endblock %}

